<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <title> Welcome to the Great Number Game! </title>
    </head>
    <body>
        <div id = "wrapper">
            <div id = "centralize"> Number Game!</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
            <h3>             Take a guess!                </h3>
            <form action = '/result' method = 'post'>
                <input type = 'text' name = 'number'><br><br>
                <input type='submit' value = "submit">
            </form>
            <div id = 'correct'>
                <% if (result === 'correct'){ %>
                <h2>That's right--<%= num %> was the number!</h2>
                <form id = '' action="/reset" method="get">
                <button type="submit" name="reset">Play again!</button>
                </form>
            </div>
            <div id = 'toohigh'>
                <% }else{ %>
                <% if (result === 'high'){ %>
                <h2>Too high!</h2>
                <% }else if (result === 'low'){ %>
                <h2>Too low!</h2>
                <% } %>
                <% } %>
            </div>
  </body>
</html>

