<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1> Add a bird </h1>
        <form action = '/birds' method = "post">
            Name:<br>
            <input type="text" name="name"><br>
            Color:<br>
            <input type="text" name="color"><br>
            Type:<br>
            <input type="text" name="type"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>