<html>
    <head>
        <title></title>
    </head>
    <body>
		<div class="mongeese">
			<% for(let i=0; i< results.length; i++){ %>
				<h3>Name: <%= results[i].name %></h3>	
				<h5>Type: <%= results[i].type %></h5>
				<h5>Color: <%= results[i].color %></h5>
				{ %>

    </body>
</html>