<html>
    <head>
        <title></title>
    </head>
    <body>
		<h1> Welcome </h1>
		
			<% for(let i=0; i< Bird.length; i++){ %>
				<h3>Name: <%= Bird[i].name %></h3>	
				<h5>Type: <%= Bird[i].type %></h5>
				<h5>Color: <%= Bird[i].color %></h5>
			<% } %>

    </body>
</html>